<div class="text-center">
  <%= image_tag @post.image.url(:medium) %>
</div>
<div class="form-wrapper">
  <%= render 'posts/form' %>

  <div class="text-center edit-links">
    <%= link_to "Obrisi Post", post_path(@post), method: :delete, data: { confirm: "Sigurno hoces da obrishesh ovaj post? :/" } %>
    |
    <%= link_to "Nazad", posts_path %>
  </div>


</div>
